/*.categories {*/
/*    max-width: 300px;*/
/*    min-width: 250px;*/
/*    height: 100vh;*/
/*    box-shadow: 8px 0 10px -5px grey;*/
/*    background-color: white;*/
/*}*/

.categories-title {
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
}

.сustom-categories i {
    font-size: 14px;
    text-align: center;
    width: 30px;
    cursor: pointer;
}
.task {
    align-items: center;
    margin-top: 10px;
    width: 80%;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    overflow-wrap: break-word;
}

.task-title {
    /*color: #000000;*/
    padding: 0;
    width: 100px;
    margin: 0 0 0 8px;

}

.task-number {
    color: black;
    font-size: 21px;
    padding: 0;
    min-width: 15%;
    background-color: #e7e7e7;
    margin: 0 8px 0 0;
    border-radius: 4px;
    text-align: center;
}


.сustom-categories {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pen-block{
    display: none;
}

.сustom-categories:hover .pen-block{
    display: block;
}
