.categories {
    max-width: 300px;
    min-width: 250px;
    height: 100vh;
    /*border-right: 1px solid black;*/
    box-shadow: 8px 0 10px -5px grey;
    /*background-color: red;*/
    background-color: white;

}

.categories-title {
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
}

.categories-title i {
    justify-content: right;
    font-size: 20px;
    text-align: center;
    width: 20px;
    cursor: pointer;
}
.categories-title button{
    margin: 0;
    padding: 0;
}

.categories-title-input {
    margin-top: 20px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    box-shadow: 0 0 0;
    width: 95%;
}

.task {
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 10px;
    width: 80%;
    /* min-height: 50px; */
    /* background-color: purple; */
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    overflow-wrap: break-word;
}

.task-title {
    color: #8b8b8b;
    padding: 0;
    /*width: 50px;*/
    margin: 0 0 0 8px;

}

.task-number {
    color: black;
    font-size: 21px;
    padding: 0;
    min-width: 15%;
    background-color: #e7e7e7;
    margin: 0 8px 0 0;
    border-radius: 4px;
    text-align: center;
}

.selected{
    background-color: #482879;
}

.selected i{
    color: white;
}

.сustom-categories {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pen-block{
    display: none;
}

.сustom-categories:hover .pen-block{
    display: block;
}