.task{
    display: flex;
    /*justify-content: space-between;*/
    min-height: 100px;
    border-radius: 5px;
}

.task-info{
    display: flex;
    align-items: center;
}

.task-color{
    background-color: red;
    min-width: 25px;
    align-self: stretch;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.task-num{
    background-color: white;
    width: 80%;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.task-category{
    margin: 10px;
}
.task-priority{
    margin: 10px;
}

.task-text{
    margin: 10px;
    width: 100%;
    align-self: center;
}

.task-action{
    display: flex;
    flex-direction: column;
}

.task-check{
    height: 26px;
}

.task-content{
    display: flex;
    width: 100%;
}