.dialog{
    width: 100px;
}


.ModalBordSettings i {
    color: white;
}

.ModalBordSettings h5{
    color: white;

}

.ModalBordSettings .modal-body {
    background-color: #d7d7d7;
}

.add-priority{
    margin: 0;
    padding: 0;
}



